name: Azure Static Web Apps CI/CD
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  build_and_deploy_job:
    # ... Azure does the rest
